body{
    background: rgb(202, 129, 202);
    font: normal 20pt Calibri;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px gray;
}

footer{
    color: #fff;
    text-align: center;
    font-size: italic;
}

#image{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
}

#msg, #foto{
    text-align: center;
}
